@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    /* 1 rem = 10px */
    line-height: 16px;
    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    */
    box-sizing: border-box;
}

:root {
    --color1: #77f680;
    --color2: #73d6f5;

    --main-color-1: #ff92f4;
    --main-color-2: #ffa584;
    /* --main-color-1: #f53d2d;
    --main-color-2: #f63; */
}

body {
    /* padding: 36px; */
    /*    background-color: var(--color1);*/
}

header {
    /* background: linear-gradient(180deg, var(--main-color-1), var(--main-color-2)); */
    background: var(--color2);
    height: 120px;
    /* linear-gradient(-180deg var(--main-color-1), main--main-color-2)) */
}

.clickable-url {
    color: #fff;
}

.typical-img {
    background-color: rgb(241, 187, 252);
    width: 240px;
    max-height: 600px;
    /* padding: 24px; */
}

.header-upper {
    /* background-color: var(--main-color-2); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    min-width: 1000px;
    width: 80%;
    margin: auto;
}

.header-upper-nav {
    /* background-color: var(--main-color-1); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* vertical-align: middle; */
    align-items: center;
    min-width: 200px;
    gap: 12px;
    padding: 4px 12px;
}

.header-upper-nav :nth-child(n) {
    position: relative;
}

.header-upper-nav a,
.header-upper-nav li :nth-child(n) {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.header-upper-nav .hasSep::after {
    content: "|";
    position: absolute;
    /* background-color: chartreuse; */
    right: -8px;
    color: #ffffff80;
}

.header-upper-nav .clickable-url:hover {
    color: #ffffffcc;
    /* font-size: 32px; */
}

.hasModal {
    position: relative;
}

.hasModal .modal {
    display: none;
}

.hasModal.active .modal {
    background-color: coral;
}