@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    /* 1 rem = 10px */
    line-height: 16px;
    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    */
    box-sizing: border-box;
}

:root {
    --color1: #77f680;
    --color2: #73d6f5;

    --main-color-1: #ff92f4;
    --main-color-2: #ffa584;

    --main-color-1-chill: #ff92f436;
    --main-color-2-chill: #ffa5842e;

    /* --main-color-1: #f53d2d;
    --main-color-2: #f63; */
}

body {
    /* padding: 36px; */
    /* background-color: var(--color1);*/
}

.clickable-url {
    color: #fff;
}

.typical-img {
    background-color: rgb(241, 187, 252);
    width: 240px;
    max-height: 600px;
    /* padding: 24px; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}